html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, input, button {
  color: #ecf0f1;
}

h1 {
  font-size: 20px;
}

.window {
  background-color: #2c3e50;
  margin: 0px;
  width: 280px;
}

.header {
  background: #2c3e50;
  background-image: -webkit-linear-gradient(top, #2c3e50, #34495e);
  background-image: -moz-linear-gradient(top, #2c3e50, #34495e);
  background-image: -ms-linear-gradient(top, #2c3e50, #34495e);
  background-image: -o-linear-gradient(top, #2c3e50, #34495e);
  background-image: linear-gradient(to bottom, #2c3e50, #34495e);
  padding: 1px;
  padding-left: 20px;
}

.footer {
  position: relative;
  background: #34495e;
  background-image: -webkit-linear-gradient(top, #34495e, #2c3e50);
  background-image: -moz-linear-gradient(top, #34495e, #2c3e50);
  background-image: -ms-linear-gradient(top, #34495e, #2c3e50);
  background-image: -o-linear-gradient(top, #34495e, #2c3e50);
  background-image: linear-gradient(to bottom, #34495e, #2c3e50);
  padding: 1px;
  padding-right: 20px;
  text-align: right;
}

input {
  width: 235px;
  height: 45px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  border: none;
}

button {
  width: 235px;
  height: 45px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  border: none;
  background: #e74c3c;
}

.clean, .active {
  background-color: #c0392b;
  background: #e74c3c;
}

.dirty, .greyed {
  background-color: #95a5a6;
  background: #7f8c8d;
}

.active:hover, #toggleSync:hover {
  background: #e74c3c;
  background-image: -webkit-linear-gradient(top, #e74c3c, #c0392b);
  background-image: -moz-linear-gradient(top, #e74c3c, #c0392b);
  background-image: -ms-linear-gradient(top, #e74c3c, #c0392b);
  background-image: -o-linear-gradient(top, #e74c3c, #c0392b);
  background-image: linear-gradient(to bottom, #e74c3c, #c0392b);
}
