html {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-weight: lighter;
}

h1, input, button {
  color: black;
}

h1 {
  font-size: 20px;
  font-weight: lighter;
}

.window {
  background-color: white;
  margin: 0px;
  width: 280px;
}

.header {
  background: white;
  padding: 1px;
  padding-left: 20px;
}

.footer {
  position: relative;
  background: white;
  padding: 1px;
  padding-right: 20px;
  text-align: right;
}

input {
  width: 235px;
  height: 45px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  font-weight: lighter;
  border: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

button {
  width: 235px;
  height: 45px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  background: #ffd458;
  font-weight: lighter;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.clean, .active {
  background-color: #ffd458;
  background: #ffd458;
}

.dirty, .greyed {
  background-color: #95a5a6;
  background: #95a5a6;
}

.active:hover, #toggleSync:hover {
  background: #ffe8a4;
}
