body {
font-family: 'Montserrat', sans-serif;
background-color: #151718;
color: white;
/*font-size: 20px;*/
padding: 0px;
margin: 0px;
}

@font-face {
font-family: Montserrat;
src: url("font/Montserrat-Regular.otf") format("opentype");
}

@font-face {
font-family: GraublauWeb;
font-weight: bold;
src: url("font/Montserrat-Bold.otf") format("opentype");
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

#scroll {
  position: absolute;
  left: 302px;
}

#bigger {
  font-size: 22px;
}

.left {
  float:left;
}

.right {float:right;}

.welcome {
  text-align: center;
}

.window {
  height: 450px;
  width: 300px;
  padding: 10px;
  margin: 0px;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cccccc;
  padding-left: 5px;
}

.header h2 {
  padding-left: 10px;
}

.friends-list {
  height: 25px;
}

#friend {
  widows: 100%;
  height: 90px;
  margin-bottom: -26px;
}

#friend .info {
  margin-left: 90px;
  float: left:
}

#friend .info h3 {
  margin-top: -13px;
  font-weight: normal;
  font-style: italic;
}

#friend .online {
  font-style: normal;
  color: green;
}

#friend .offline {
  font-style: normal;
  color: red;
}

#friend img {
  float: left;
  width: 70px;
  height: 70px;
}

.add-friend img {
  width: 290px;
  margin-top: 15px;
}

.add-friend #friend img {
  margin-top: 0px;
}

.add-friend #friend h2 {
  margin-left: 90px;
  margin-top: 15px;
}

#field {
  color: grey;
}

#selected {
  color: grey;
}

#upload {
  color: grey;
}

.about img {
  margin: 0 auto;
  margin-top: 15px;
  width: 70px;
  height: 70px;
}

.about #made-by {
  color: grey;
}

.options {
  border-top: 1px solid #ccc;
  position: absolute;
  top: 300px;
  width: 300px;
}

.options li {
  margin-bottom: 5px;
}

.options ul {
  list-style: none;
  margin-left: -35px;
  margin-top: 8px;
}

.options .left {
  float: left;
}

.options .right {
  float: right;
}

.options img {
  float: right;
}

.videoSharing {
  float: right;
}

.settings img {
  float: right;
  width: 75px;
  height: 75px;
}
